 .auto-style1 {
            width: 86%;
            height: 69px;
            margin-right: 0px;
        }
        .auto-style3 {
            height: 99px;
            color: #845A42;
            font-weight: 700;
            font-family: 微软雅黑;
            text-align: center;
            font-size: x-large;
            background-color: #FFFFFF;
        }
        .auto-style6 {
            height: 30px;
            width: 486px;
        }
        .auto-style7 {
            height: 44px;
            background-color: #D6D4AB;
        }
        .auto-style17 {
            height: 606px;
            width: 161px;
            background-color: #D6D4AB;
        }
        .auto-style18 {
            height: 606px;
            width: 144px;
            text-align: justify;
            background-color: #D6D4AB;
        }
        .auto-style19 {
            font-size: large;
            color: #5B5932;
        }
        .新建样式1 {
            font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
            font-size: smaller;
        }
        .新建样式1 {
            font-family: 仿宋;
            font-size: medium;
            font-weight: normal;
            font-style: normal;
            font-variant: normal;
            color: #FFFFFF;
        }
        .倡导 {
            font-family: 华文楷体;
            font-size: medium;
            font-weight: normal;
            font-style: normal;
            font-variant: normal;
            text-transform: uppercase;
            color: #5B5932;
            background-color: #D6D4AB;
        }
        #form2 {
            height: 170px;
            width: 462px;
        }
        .auto-style20 {
            width: 32%;
            height: 33px;
            margin-right: 0px;
        }
        .auto-style22 {
            height: 606px;
            width: 710px;
        }
        .auto-style23 {
            width: 32%;
        }
        .auto-style25 {
            height: 44px;
            background-color: #D6D4AB;
            width: 32%;
        }
        .auto-style29 {
            width: 32%;
            margin-right: 0px;
        }
        .auto-style31 {
            width: 32%;
            height: 50px;
            margin-right: 0px;
        }
        .auto-style32 {
            height: 50px;
        }
        .auto-style33 {
            width: 32%;
            height: 28px;
            margin-right: 0px;
        }
        .auto-style34 {
            height: 28px;
        }
        .auto-style35 {
            width: 32%;
            height: 39px;
        }
        .auto-style36 {
            height: 39px;
        }
        .auto-style37 {
            width: 32%;
            height: 19px;
            margin-right: 0px;
        }
        .auto-style38 {
            height: 19px;
        }
        .auto-style39 {
            width: 32%;
            height: 45px;
            margin-right: 0px;
        }
        .auto-style40 {
            height: 45px;
        }
        .auto-style41 {
            width: 32%;
            height: 6px;
            margin-right: 0px;
        }
        .auto-style42 {
            height: 6px;
        }
        .auto-style43 {
            height: 33px;
        }
        .auto-style44 {
            height: 56px;
            color: #000000;
            background-color: #D6D4AB;
        }
        .auto-style45 {
            height: 30px;
        }
        .auto-style46 {
            height: 40px;
            color: #845A42;
            font-weight: 700;
            font-family: 微软雅黑;
            text-align: center;
            font-size: x-large;
            background-color: #FFFFFF;
        }
        .auto-style47 {
            color: #5B5932;
        }
        .auto-style48 {
            height: 56px;
        }
        b {
        }
        .auto-style49 {
            width: 486px;
        }
        .auto-style50 {
            font-family: 微软雅黑;
        }
        .auto-style51 {
            margin-top: 17px;
        }
        .auto-style52 {
            height: 38px;
        }
        .auto-style53 {
            width: 486px;
            height: 38px;
        }
        .auto-style54 {
            height: 31px;
        }
        .auto-style55 {
            height: 31px;
            width: 486px;
        }
        .auto-style57 {
            height: 34px;
            width: 486px;
        }
        .auto-style58 {
            height: 34px;
        }
        .auto-style59 {
            height: 35px;
        }
        .auto-style60 {
            height: 35px;
            width: 486px;
        }
        .auto-style62 {
            height: 33px;
            width: 486px;
        }
        .auto-style63 {
            width: 486px;
            height: 39px;
        }
        .auto-style64 {
            height: 44px;
            background-color: #D6D4AB;
            width: 144px;
        }
